# Python Virtual Environment
.venv/

# Large Model Weights & Checkpoints (Exceeds GitHub limits)
models/
checkpoints/*
!checkpoints/baseline2_ppo

# Data, Logs, and Caches
logs/
results/
backup/
.pytest_cache/

# System Files
.DS_Store

# Graphify 
graphify-out/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.classwandb/
wandb/
